$darkgreen: #3a3f1c;
$green: #99995f;
$lightgreen: #f3f2db;
$pink: #ef4747;
$brown: #3c1a0f;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Merriweather', serif;	
	font-weight: 400;
	line-height: 1.5;
	background: $lightgreen;
	font-size: 18px;
	color: $brown;
	padding: 0 0 20px 0;
}

h1 {
	font-size: 30px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-weight: 700;
}

h2 {
	font-size: 28px;
	padding: 20px 0 10px 0;
}

h3 {
	font-size: 26px;
	font-style: italic;
	margin: 15px 0 10px 0;
	border-bottom: 3px solid $green;
}

h4 {
	font-weight: bold;
	font-weight: 700;
}

header {
	padding: 10px;
	background: $darkgreen;
	color: $lightgreen;
	position: relative;
}

a {
	text-decoration: none;
}

#back {
	position: absolute;
	top: 25px;
	left: 30px;
	color: $lightgreen;
	font-size: .9em; 
}

#searchform {
	width: 25%;
	float: left;	
	padding: 2% 7%;
	height: 702px;
}

#suggestions {
	width: 57%;
	float: left;
	min-height: 500px;
	padding: 2%;
}

#suggestions p:first-of-type {
  font-style: italic;
}

#results {
	width: 57%;
  margin: 20px 0 0 0;
	float: left;
}

#results.small, #suggestions.small {
  width: 40%;
}

#recipe {
  width: 50%;
  margin: 0 0 0 3%;
  float: left;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.added {
	background: #ffffff;
	padding: 0 5px;
}

input {
	height: 40px;
	width: 100%;
	font-family: sans-serif;
	font-size: 1em;
}

#search {
	width: 100%;
}

.add, .remove {
	background: $darkgreen;
	width: 40px;
}

table {
  width: 100%;
}

td {
	height: 40px;
	font-family: helvetica, sans-serif;
}

td a {
	text-align: center;
	color: white;
	font-size: 1.5em;
	display: block;
	line-height: 1em;
}

p {
	margin: 5px;
	color: $brown;
}

.label {
	margin: 40px 0 5px 0;
}

button {
	width: 60px;
	height: 40px;
  float: right;
	margin: 40px 2px 0 0;
	background: $pink;
	border: none;
	cursor: pointer;
	color: $lightgreen;
	font-size: .9em;
}

.result {
	width: 48%;
	margin: 0 2% 2% 0;
	float: left;
	cursor: pointer;
	position: relative;
	p {
		position: absolute;
		bottom: -2px;
		left: 1%;
		background: #ffffff;
		background: rgba(250,250,250,0.7);
		width: 95%;
		font-size: .85em;
		padding: 5px 0 0 1.5%;
	}
	img {
		border: 3px solid $brown;
	}
}

.result.green img {
		border: 3px solid $green;
}

.new {
	background: url(img/new.svg);
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	right: -7px;
}

.photo {
	width: 96%;
	margin: 2% auto 0 auto;
}

.photo img {
	width: 100%;
}

.bigphoto {
	width: 100%;
	padding: 2% 0;
	img {
		width: 96%;
		display: block;
		margin: 0 auto;
		border: 3px solid $green;
	}
}

.ingredients {
	float: left;
	width: 50%;
	font-size: .9em;
}

.ingredients li {
	list-style-type: none;
}

.instructions {
	font-size: .9em;
}